<% for(var i = 0; i < users.length; i++) { %>
<tr>
    <td ><%= i+1 %></td>
    <td><%= users[i].name %></td>
    <td><%= users[i].mfr %></td>
    <td><%= users[i].type %></td>
    <td><%= users[i].calories %></td>
    <td><%= users[i].protein %></td>
    <td><%= users[i].fat %></td>
    <td><%= users[i].sodium %></td>
    <td><%= users[i].fiber %></td>
    <td><%= users[i].carbo %></td>
    <td><%= users[i].sugars %></td>
    <!-- <td><%= users[i].status %></td> -->
    <td>
        <a href="/update-user?id=<%= users[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="far fa-edit"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= users[i]._id%> >
            <span class="text-gradient"><i class="fas fa-trash-alt"></i></span>
        </a>
    </td>
</tr>
<% } %>